* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Monserrat', sans-serif;
    font-weight: 100;
    word-spacing: 2px;
    font-size: 18px;
    color: #fff;
}

h1 {
    word-spacing: 1px;
    font-size: 250%;
    font-weight: 300; 
}

h2 {
    display: block;
    border-bottom: 1px solid #c9c9c9;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 20px;
}

header {
    background: linear-gradient(45deg, rgba(4, 11, 36, 0.71), rgba(25, 4, 36, 0.71)), url('src/hero-ground.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: auto 100px;
    grid-template-areas:
        ". . . . . . . . . . ." 
        ". h h w w w w w sUp sUp . "
        ". h h w w w w w sIn . ."
        ". h h . b b b . . . ."
        ". h h . b b b . . . ."
        "c c c c c c c c c c c";
}

.header {
    grid-area: h;  
    border-right: 2px solid #fff;
    font-size: 250%;
    padding-right: 15px;
    text-align: right;  
}

.how-it-works {
    width: 95%;
    height: 95%;
    padding-left: 20px;
    grid-area: w;
    background-color: rgba(255, 255, 255, 0.10);
    transition: width 0.2s, height 0.2s;   
}

.how-it-works div {
    display: inline-block;
    height: 100%;
    text-align: right;
    font-size: 250%;
    transition: font-size 0.2s;
}

.how-it-works:hover {
    width: 100%;
    height: 102%;  
    font-size: 120%;
}

.sign-up {
    width: 100%;
    height: 100%;
    grid-area: sUp;
    background-color: rgba(255, 255, 255, 0.10);
    transition: width 0.2s, height 0.2s, font-size 0.2s;
}

.sign-up a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: lowercase;
    font-size: 270%;
    width: 100%;
    height: 100%;
}

.sign-up a p {
    font-size: 150%; 
}

.sign-up:hover {
    width: 102%;
    height: 105%;
    font-size: 150%;
}

.sign-in {
    width: 100%;
    height: 100%;
    grid-area: sIn;
    background-color: rgba(255, 255, 255, 0.10);
    transition: width 0.2s, height 0.2s, font-size 0.2s;
}

.sign-in a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: lowercase;
    font-size: 270%;
    text-align: right;
    width: 100%;
    height: 100%;
}

.sign-in a p {
    font-size: 150%; 
}

.sign-in:hover {
    width: 102%;
    height: 105%;
    font-size: 120%;
}

.benefits {
    width: 85%;
    height: 80%;
    grid-area: b;
    background-color: rgba(255, 255, 255, 0.10);
    transition: width 0.2s, height 0.2s, font-size 0.2s;
}

.benefits ul {
    list-style: none;
    font-size: 150%;
}

.benefits ul li {
    margin-bottom: 20px;
}

.benefits:hover {
    width: 90%;
    height: 90%;
    font-size: 110%;
}

.contacts {
    grid-area: c;
    color: #fff;
    text-align: center;
}

.contacts a {
    text-decoration: none;
    color: #fff;
}

