* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    word-spacing: 2px;
    font-size: 18px;
    color: #fff;
}

header {
    height: 300vh;
    background-size: cover;
    background: linear-gradient(90deg, #FF512F, #DD2476) center;
}

ul {
    font-size: 250%;
    color: #fff;
    padding: 30px 100px;
    float: right;
}

li {
    display: inline;
}

li:first-child {
    margin-right: 100px;
}

li span {
    font-size: 50%;
}

.add {
    width: 60%;
    padding: 10% 20% 3% 20%;
}

.addCategory {
    width: 60%;
    padding: 0 20% 3% 20%;
}

.add h2 {
    font-weight: 100;
    font-size: 200%;
}

#description {
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin-top:10px;
    font-size: 22px;
    width: 60%;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    word-spacing: 2px;
    text-align: center;
}

#description::placeholder {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    word-spacing: 2px;
    text-align: center;
}

#categoryDescript {
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin-top:10px;
    font-size: 22px;
    width: 60%;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    word-spacing: 2px;
    text-align: center;
}

#categoryDescript::placeholder {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    word-spacing: 2px;
    text-align: center;
}

#money {
    margin-left: 20px;
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin-top:10px;
    font-size: 22px;
    width: 30%;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    word-spacing: 2px;
    text-align: center;
}

#money::placeholder {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    word-spacing: 2px;
    text-align: center;
}

#description2 {
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin-top:10px;
    font-size: 22px;
    width: 60%;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    word-spacing: 2px;
    text-align: center;
}

#description2::placeholder {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    word-spacing: 2px;
    text-align: center;
}

#money2 {
    margin-left: 20px;
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin-top:10px;
    font-size: 22px;
    width: 30%;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    word-spacing: 2px;
    text-align: center;
}

#money2::placeholder {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    word-spacing: 2px;
    text-align: center;
}

button {
    margin-left: 20px;
    border: rgba(0,0,0,0);
    border-bottom: 1px solid #fff;
    background-color: rgba(0,0,0,0);
    font-size: 22px;
    word-spacing: 2px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}



